body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: white;
  background-color: #04070F;
  background-image: url('assets/background4.png');
  background-repeat:repeat;
  background-size: cover;
}


.Standard-header img {
  width: 260px; /* 312 previously*/
  object-fit: contain;
}

header.Standard-header {
  margin-top: 12px;
}
.intro-container {
  margin-top: 12px;
}
.Standard-header h3 {
  font-size: 30px;
}

.resizerbig .Standard-header h3 {
  font-size: 34px;
}

.resizersmall .Standard-header h3 {
  font-size: 26px;
}

.top-header {
  padding-right: 10px;
  padding-left: 10px;
  text-align: right;
  font-size: 17px;
}

.top-header a {
  margin-right: 3px;
  text-decoration: none !important;
  color: white;
}

.top-header a:hover {
  cursor: pointer;
}

.smallA {
  font-size: 12px;
}

.bigA {
  font-size: 24px;
}

@media only screen and (max-width: 1024px) {
  .Standard-header h3 {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .Standard-header img {
    width: 180px; 
    margin-bottom: 10px;
  }
  .Standard-header h3 {
    margin-top: 0px;
    font-size: 26px;
  }
  .resizerbig .Standard-header h3 {
    font-size: 30px;
  }
  
  .resizersmall .Standard-header h3 {
    font-size: 22px;
  }
}

/*  Intro / Landing-page */

.horizontal-spacer {
  width: 220px;
  height: 2px;
  background-color: white;
  border-color: white;
  margin-bottom: 20px;
}

div.Intro {
  margin-top: 8%;
}

.Intro h2 {
  font-size: 40px;
}

.resizerbig .Intro h2 {
  font-size: 44px;
}

.resizersmall .Intro h2 {
  font-size: 36px;
}

.Intro img {
  width: 312px;
  object-fit: contain;
}

header {
  margin-left: auto;
  margin-right: auto;
}

button.menu-small-button {
  color: white;
  font-size: 22px;
  font-weight: bold;
  width: 360px;
  min-height: 74px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #0A1126;
  border: 2px solid #0A1126;
  border-radius: 15px;
  margin-top: 20px;
  transition-duration: 0.3s;
}

.resizerbig button.menu-small-button {
  font-size: 24px;
}

.resizersmall button.menu-small-button {
  font-size: 20px;
}

button.menu-small-button:hover {
  cursor: pointer;
  transform: scale(1.05); 
}

@media only screen and (max-width: 767px) {
  .Intro img {
    width: 180px;
    object-fit: contain;
  }
  button.menu-small-button {
    width: 300px;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .resizerbig button.menu-small-button {
    font-size: 22px;
  }
  
  .resizersmall button.menu-small-button {
    font-size: 18px;
  }

  .Intro h2 {
    font-size: 30px;
  }

  .resizerbig .Intro h2 {
    font-size: 32px;
  }

  .resizersmall .Intro h2 {
    font-size: 28px;
  }

  .horizontal-spacer {
    width: 100px;
  }

}


/* Menu */

div.Menu {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

div.nav-col {
  display: inline-block;
  width: 33%;
}

button.main-menu-button {
  color: white;
  font-size: 24px;
  font-weight: bold;
  width: 330px;
  min-height: 74px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #0A1126;
  border: 2px solid #0A1126;
  border-radius: 15px;
  margin-top: 20px;
  transition-duration: 0.3s;
}
.resizerbig button.main-menu-button {
  font-size: 26px;
}

.resizersmall button.main-menu-button {
  font-size: 22px;
}

button.main-menu-button:hover {
  cursor: pointer;
  transform: scale(1.05); 
}

.main-menu-button img{
  width: 40%;
}

div.button-image-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  min-height: 180px;
}

@media only screen and (max-width: 1199px) {
  button.main-menu-button {
    width: 295px;
  }
}

@media only screen and (max-width: 1024px) {
  div.nav-col {
    width: 100%;
  }
  .main-menu-button img{
    width: 70px;
  }
  div.button-image-container {
    min-height: 90px;
  }
  button.main-menu-button {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  div.button-image-container {
    display: none;
  }
  button.main-menu-button {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .resizerbig button.main-menu-button {
    font-size: 22px;
  }
  
  .resizersmall button.main-menu-button {
    font-size: 18px;
  }
}


/* Login/Register page */

.Small-header img {
  width: 120px;
  object-fit: contain;
  display: block;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}
div.form-container {
  background-color: #0A1126;
  border: 2px solid #0A1126;
  border-radius: 15px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;

}

.form-header {
  margin-top: 80px;
}

.form-container h4 {
  font-size: 26px;
  font-weight: bold;
}

.resizerbig .form-container h4 {
  font-size: 28px;
}

.resizersmall .form-container h4 {
  font-size: 24px;
}

.form-spacer {
  width: 80px;
  height: 1.5px;
  background-color: white;
  border-color: white;
  margin-bottom: 30px;
}

.form-container form {
  font-size: 22px;
  font-weight: bold;
  text-align: left;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}

.resizerbig .form-container form {
  font-size: 24px;
}

.resizersmall .form-container form {
  font-size: 20px;
}

.form-input {
  width: 100%;
  font-size: 22px;
  color: white;
  border: 1px solid #6889A6;
  border-radius: 10px;
  background-color: #0A1126;
  padding: 15px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.resizerbig .form-input {
  font-size: 24px;
}

.resizersmall .form-input {
  font-size: 20px;
}

.form-submit {
  text-align: center;
  font-size: 22px;
  color: white;
  border: 1px solid #121D40;
  border-radius: 10px;
  background-color: #121D40;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.resizerbig .form-submit {
  font-size: 24px;
}

.resizersmall .form-submit {
  font-size: 20px;
}

input.form-submit:hover {
  cursor: pointer;
}

input.form-input::placeholder {
  font-size: 22px;
  color: #6889A6;
}

.resizerbig input.form-input::placeholder {
  font-size: 24px;
}

.resizersmall input.form-input::placeholder {
  font-size: 20px;
}

.form-container form a {
  text-decoration: none;
}
.register-link {
  color: white;
  font-size: 18px;
  text-decoration: none !important;
}
.resizerbig .register-link {
  font-size: 20px;
}
.resizersmall .register-link {
  font-size: 16px;
}

p.error {
  min-height: 18px;
  font-size: 16px;
  color: #FB2424;
}

.resizerbig p.error {
  font-size: 18px;
}

.resizersmall p.error {
  font-size: 14px;
}

@media only screen and (max-width: 1024px) {
  div.form-container {
    width: 80%;
  }
  .form-container form {
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
  }
}

@media only screen and (max-width: 767px) {
  .form-container form label {
    text-align: center;
    display: block;
    margin-bottom: 5px;
  }
  .form-container form {
    font-size: 20px;
    width: 80%;
  }
  .resizerbig .form-container form {
    font-size: 22px;
  }
  .resizerbig .form-container form {
    font-size: 18px;
  }
  .form-input {
    font-size: 20px;
    width: 80%;
  }
  .resizerbig .form-input {
    font-size: 22px;
  }
  .resizersmall .form-input {
    font-size: 18px;
  }
  .form-container h4 {
    font-size: 24px;
  }
  .resizerbig .form-container h4 {
    font-size: 26px;
  }
  .resizersmall .form-container h4 {
    font-size: 22px;
  }
  .form-submit {
    font-size: 20px;
  }
  .resizerbig .form-submit {
    font-size: 22px;
  }
  .resizersmall .form-submit {
    font-size: 18px;
  }
  .register-link {
    font-size: 16px;
  }
  .resizerbig .register-link {
    font-size: 18px;
  }
  .resizersmall .register-link {
    font-size: 14px;
  }
  input.form-input::placeholder {
    font-size: 20px;
  }
  .resizerbig input.form-input::placeholder {
    font-size: 22px;
  }
  .resizersmall input.form-input::placeholder {
    font-size: 18px;
  }
  .Small-header img {
    margin-left: auto;
    margin-right: auto;
  }
  p.error {
    text-align: center;
  }
}


/* Section menu */

button.section-menu-button {
  color: white;
  font-size: 24px;
  font-weight: bold;
  width: 330px;
  min-height: 74px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #0A1126;
  border-top: 2px solid #0A1126;
  border-bottom: 2px solid #0A1126;
  border-left: 0px;
  border-right: 0px;
  border-radius: 15px;
  margin-top: 20px;
  transition-duration: 0.3s;
}

.resizerbig button.section-menu-button {
  font-size: 26px;
}

.resizersmall button.section-menu-button {
  font-size: 22px;
}

button.section-menu-button:hover {
  cursor: pointer;
  transform: scale(1.05); 
}

.section-menu-button img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

div.section-button-image-container {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1199px) {
  button.section-menu-button {
    width: 295px;
  }
}

@media only screen and (max-width: 1024px) {
  .section-menu-button img{
    height: 10vh;
  }
  button.section-menu-button{
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .resizerbig button.section-menu-button {
    font-size: 22px;
  }
  
  .resizersmall button.section-menu-button {
    font-size: 18px;
  }
}

@media only screen and (max-width: 767px) {
  div.section-button-image-container {
    display: none;
  }
  button.section-menu-button {
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}


/* Section page */
.wide-content-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.wide-content-container a{
  color: white;
  font-size: 18px;
  text-decoration: none !important;
}
.resizerbig .wide-content-container a{
  font-size: 20px;
}
.resizersmall .wide-content-container a{
  font-size: 16px;
}

.wide-content {
  background-color: #0A1126;
  border-top: 2px solid #0A1126;
  border-bottom: 2px solid #0A1126;
  border-left: 0px;
  border-right: 0px;
  border-radius: 15px;
  margin-bottom: 120px;
  padding-bottom: 60px;
}

h3.content-header {
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}
.resizerbig h3.content-header {
  font-size: 32px;
}
.resizersmall h3.content-header {
  font-size: 28px;
}

.content-top-image-container img{
  width: 100%;
  height: 400px;
  object-fit: cover;
}

div.content-top-image-container  {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
}

div.main-content {
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.Chapter img, .Chapter h4, .Chapter h5 {
  display: inline-block;
  vertical-align: middle;
}

.chapter-button {
  margin-bottom: 10px;
  margin-top: 10px;
}
.Chapter h4 {
  font-size: 26px;
  margin: 0px;
  display: inline;
}

.resizerbig .Chapter h4 {
  font-size: 28px;
}
.resizersmall .Chapter h4 {
  font-size: 24px;
}

.Chapter h5 {
  font-size: 20px;
  margin: 5px;
  display: inline;
}

.resizerbig .Chapter h5 {
  font-size: 22px;
}

.resizersmall .Chapter h5 {
  font-size: 18px;
}

img.chapter-arrow {
  height: 20px;
}

img.topic-arrow {
  height: 18px;
}

.topic {
  padding-left: 3%;
  padding-right: 3%;
}

.Chapter div.topics {
  display: none;
  animation: goDown 400ms ease-in-out forwards;
  transform-origin: top center;
}

@keyframes goDown {
  0% { transform: scaleY(0); }
  70% { transform: scaleY(1);}
  100% { transform: scaleY(1);}
}

.Chapter div.topics.show {
  display: block;
}

.chapter-button {
  display: inline-block;
}
.chapter-button:hover {
  cursor: pointer;
}


@media only screen and (max-width: 1024px) {
  .content-top-image-container img{
    height: 25vh;
  }
  h3.content-header {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
  }
  
}

@media only screen and (max-width: 767px) {
  h3.content-header {
    font-size: 26px;
  }
  .resizerbig h3.content-header {
    font-size: 28px;
  }
  .resizersmall h3.content-header {
    font-size: 24px;
  }
  .Chapter h4 {
    font-size: 24px;
  }
  .resizerbig .Chapter h4 {
    font-size: 26px;
  }
  .resizersmall .Chapter h4 {
    font-size: 22px;
  }
  .Chapter h5 {
    font-size: 18px;
  }
  .resizerbig .Chapter h5 {
    font-size: 20px;
  }
  .resizersmall .Chapter h5 {
    font-size: 16px;
  }
  .wide-content-container a{
    font-size: 16px;
  }
  .resizerbig .wide-content-container a{
    font-size: 18px;
  }
  .resizersmall .wide-content-container a{
    font-size: 14px;
  }
}


/* Subject page */

.main-content.subject p {
  font-size: 18px;
 }

.resizerbig .main-content.subject p {
  font-size: 20px;
 }

.resizersmall .main-content.subject p {
  font-size: 16px;
 }

 .main-content.subject h5 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 5px;
 }

 .resizerbig .main-content.subject h5 {
  font-size: 22px;
 }
 .resizersmall .main-content.subject h5 {
  font-size: 18px;
 }

 .main-content.subject h4 {
  font-size: 22px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
 }

 .resizersmall .main-content.subject h4 {
  font-size: 20px;
 }

 .resizerbig .main-content.subject h4 {
  font-size: 24px;
 }

 .main-content.subject h4.time {
  margin-bottom: 40px;
 }

 .main-content.subject a {
  display: block;
  font-weight: 700;
  margin-top: 40px;
 }

 .main-content.subject img {
  display: block;
  max-height: 300px;
  max-width: 80%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
 }

 .favourite-button {
  text-align: center;
  font-size: 20px;
  color: white;
  border: 1px solid #121D40;
  border-radius: 10px;
  background-color: #121D40;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 30px;
  margin-top: 20px;
  display: block;
  transition-duration: 0.3s;
}

.favourite-button:hover {
  cursor: pointer;
  transform: scale(1.05); 
}
 @media only screen and (max-width: 767px) {
  .main-content.subject p {
    font-size: 16px;
   }
   .resizerbig .main-content.subject p {
    font-size: 18px;
   }
   .resizersmall .main-content.subject p {
    font-size: 14px;
   }
  
   .main-content.subject h5 {
    font-size: 18px;
   }
   .resizerbig .main-content.subject h5 {
    font-size: 20px;
   }
   .resizersmall .main-content.subject h5 {
    font-size: 16px;
   }

   .main-content.subject h4 {
    font-size: 20px;
   }
   .resizerbig .main-content.subject h4 {
    font-size: 22px;
   }
   .resizersmall .main-content.subject h4 {
    font-size: 18px;
   }

   .main-content.subject h4.time {
    margin-bottom: 40px;
   }
   .favourite-button {
    margin-left: auto;
    margin-right: auto;
  }
 }

/* User profile page */

div.profile-col-l {
  vertical-align: top;
  display: inline-block;
  width: 50%;
}

div.profile-col-r {
  vertical-align: top;
  display: inline-block;
  width: 50%;
}

div.profile-col-content {
  font-size: 16px;
  margin: 10px;
  box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 1);
  padding: 30px;
  vertical-align: top;
  min-height: 140px;
}

.resizerbig div.profile-col-content {
  font-size: 18px;
}

.resizersmall div.profile-col-content {
  font-size: 14px;
}

.profile-menu-link {
  margin: 10px;
}

.User-profile {
  font-size: 18px;
}

.User-profile h4 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 4px;
  margin-top: 4px;
}

.resizerbig .User-profile h4 {
  font-size: 28px;
}

.resizersmall .User-profile h4 {
  font-size: 24px;
}

.User-profile h5 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

.resizerbig .User-profile h5 {
  font-size: 18px;
}

.resizersmall .User-profile h5 {
  font-size: 14px;
}

.liked-topics img, .liked-topics h4, .liked-topics h5 {
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
}

.liked-topics .topic {
  margin-top: 15px;
  margin-bottom: 15px;
}

div.scores {
  background-color: black;
  height: 100px;
  overflow: scroll;
  padding-left: 10px;
  padding-right: 10px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 0px;
  border-right: 0px;
  border-radius: 15px;
}

.good-score {
  color: #13F34F;
}

.medium-score {
  color: #E6E026;
}

.bad-score {
  color: #FB2424;
}

@media only screen and (max-width: 1024px) {
  div.profile-col-content {
    min-height: 180px;
  }

}

@media only screen and (max-width: 767px) {
  div.profile-col-l {
    width: 100%;
  }
  div.profile-col-r {
    width: 100%;
  }
  div.profile-col-content {
    min-height: 0px;
    font-size: 14px;
  }
  .resizerbig div.profile-col-content {
    font-size: 16px;
  }
  
  .resizersmall div.profile-col-content {
    font-size: 12px;
  }
  .User-profile h4 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
  }
  .resizerbig .User-profile h4 {
    font-size: 26px;
  }
  
  .resizersmall .User-profile h4 {
    font-size: 22px;
  }
  div.profile-col-content {
    padding: 15px;
  }
  .User-profile h5 {
    text-align: center;
  }
  .User-profile .topic h5 {
    text-align: left;
    display: inline;
  }
}

/* Test */

.question h4 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 4px;
  margin-top: 4px;
  text-align: center;
}

.resizerbig .question h4 {
  font-size: 24px;
}

.resizersmall .question h4 {
  font-size: 20px;
}

.question-content h4 {
  margin-bottom: 10px;
}

.question-content h3 {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 4px;
  margin-top: 4px;
  text-align: center;
}

.resizerbig .question-content h3 {
  font-size: 26px;
}

.resizersmall .question-content h3 {
  font-size: 22px;
}

.question-content h5 {
  font-size: 20px;
}

.resizerbig .question-content h5 {
  font-size: 22px;
}

.resizersmall .question-content h5 {
  font-size: 18px;
}

.test-content {
  width: 860px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div.question-content {
  background-color: #0A1126;
  border-top: 2px solid #0A1126;
  border-bottom: 2px solid #0A1126;
  border-left: 0px;
  border-right: 0px;
  border-radius: 15px;
  padding: 20px;
}

.question-content p {
  font-size: 20px;
}

.resizerbig .question-content p {
  font-size: 22px;
}

.resizersmall .question-content p {
  font-size: 18px;
}

.question-content label {
  font-size: 20px;
}

.resizerbig .question-content label {
  font-size: 22px;
}

.resizersmall .question-content label {
  font-size: 18px;
}

.question-content img {
  display: block;
  max-height: 200px;
  max-width: 80%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
 }

.answer-option {
  text-align: left;
}
div.answer-option {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}
div.radio-option {
  display: inline-block;
  width: 45%;
}

div.label-option {
  display: inline-block;
  width: 55%;
}

.radio-option{
  text-align: right;
}

.radio-option input {
  color: green !important;
}

.answers-col {
  width: 50%;
  display: inline-block;
 }

.answers input, .answers button{
  color: white;
  font-size: 20px;
  width: 400px;
  min-height: 74px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #0A1126;
  border: 2px solid #0A1126;
  border-radius: 15px;
  margin-top: 20px;
  transition-duration: 0.3s;
}

.resizerbig .answers input, .resizerbig .answers button{
  font-size: 22px;
}

.resizersmall .answers input, .resizersmall .answers button{
  font-size: 18px;
}

.answers input:hover, .answers button:hover {
  cursor: pointer;
  transform: scale(1.05); 
}
.answers {
  margin-bottom: 60px;
}

h3.answer-feedback {
  display: block;
  margin-top: 40px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 4px;
  text-align: center;
}

.resizerbig h3.answer-feedback {
  font-size: 26px;
}

.resizersmall h3.answer-feedback {
  font-size: 22px;
}

@media only screen and (max-width: 1024px) {
  .answers-col {
    width: 100%;
    display: inline-block;
   }

   .test-content {
    width: 700px;
  }
  .answers input, .answers button{
    width: 500px;
  }

}

@media only screen and (max-width: 767px) {
  .test-content {
    width: 80%;
  }
  .question h4 {
    font-size: 20px;
  }
  .resizerbig .question h4 {
    font-size: 22px;
  }
  .resizersmall .question h4 {
    font-size: 18px;
  }
  .question-content h3 {
    font-size: 22px;
  }
  .resizerbig .question-content h3 {
    font-size: 24px;
  }
  .resizersmall .question-content h3 {
    font-size: 20px;
  }
  .question-content h5 {
    font-size: 18px;
  }
  .resizerbig .question-content h5 {
    font-size: 20px;
  }
  .resizersmall .question-content h5 {
    font-size: 16px;
  }
  h3.answer-feedback {
    font-weight: bold;
  }
  .answers input, .answers button{
    font-size: 18px;
    width: 80%;
  }
  .resizerbig .answers input, .resizerbig .answers button{
    font-size: 20px;
  }
  .resizersmall .answers input, .resizersmall .answers button{
    font-size: 16px;
  }
  div.radio-option, div.label-option {
    display: inline;
    width: 50%;
  }
}
