body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: white;
  background-color: #04070F;
  background-image: url('assets/background2.png');
  background-repeat:repeat;
  background-size: cover;
}


.Standard-header img {
  width: 312px;
  object-fit: contain;
}

header.Standard-header {
  margin-top: 12px;
}

.Standard-header h3 {
  font-size: 30px;
}

/*  Intro / Landing-page */

.horizontal-spacer {
  width: 220px;
  height: 2px;
  background-color: white;
  border-color: white;
  margin-bottom: 20px;
}

div.Intro {
  margin-top: 8%;
}

.Intro h2 {
  font-size: 40px;
}

.Intro img {
  width: 312px;
  object-fit: contain;
}

button.menu-small-button {
  color: white;
  font-size: 22px;
  font-weight: bold;
  width: 360px;
  min-height: 74px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #0A1126;
  border: 2px solid #0A1126;
  border-radius: 15px;
  margin-top: 20px;
  transition-duration: 0.3s;
}

button.menu-small-button:hover {
  cursor: pointer;
  transform: scale(1.05); 
}

/* Menu */

div.Menu {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

div.nav-col {
  display: inline-block;
  width: 33%;
}

button.main-menu-button {
  color: white;
  font-size: 24px;
  font-weight: bold;
  width: 330px;
  min-height: 74px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #0A1126;
  border: 2px solid #0A1126;
  border-radius: 15px;
  margin-top: 20px;
  transition-duration: 0.3s;
}

button.main-menu-button:hover {
  cursor: pointer;
  transform: scale(1.05); 
}

.main-menu-button img{
  width: 40%;
}

div.button-image-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  min-height: 180px;
}

/* Login/Register page */

.Small-header img {
  width: 120px;
  object-fit: contain;
  display: block;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}
div.form-container {
  background-color: #0A1126;
  border: 2px solid #0A1126;
  border-radius: 15px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;

}

.form-header {
  margin-top: 80px;
}

.form-container h4 {
  font-size: 26px;
  font-weight: bold;
}

.form-spacer {
  width: 80px;
  height: 1.5px;
  background-color: white;
  border-color: white;
  margin-bottom: 30px;
}

.form-container form {
  font-size: 22px;
  font-weight: bold;
  text-align: left;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}

.form-input {
  width: 80%;
  font-size: 22px;
  color: white;
  border: 1px solid #6889A6;
  border-radius: 10px;
  background-color: #0A1126;
  padding: 15px;
  margin-bottom: 30px;
}

.form-submit {
  text-align: center;
  font-size: 22px;
  color: white;
  border: 1px solid #121D40;
  border-radius: 10px;
  background-color: #121D40;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 50px;
  margin-top: 20px;
}

input.form-submit:hover {
  cursor: pointer;
}

input.form-input::placeholder {
  font-size: 22px;
  color: #6889A6;
}

.form-container form a {
  text-decoration: none;
}
.register-link {
  color: white;
  font-size: 18px;
  text-decoration: none !important;
}
/*


TODO ANIMACJA WEJSCIA TYTULU STRONY POD LOGIEM


*/